(lecture06:homework)=
# Homework 6

+ Type your name and email in the "Student details" section below.
+ Develop the code and generate the figures you need to solve the problems using this notebook.
+ For the answers that require a mathematical proof or derivation you can either:
    
    - Type the answer using the built-in latex capabilities. In this case, simply export the notebook as a pdf and upload it on gradescope; or
    - You can print the notebook (after you are done with all the code), write your answers by hand, scan, turn your response to a single pdf, and upload on gradescope.

+ The total homework points are 100. Please note that the problems are not weighed equally.

```{note}
+ Please match all the pages corresponding to each of the questions when you submit on gradescope.
```

## Student details

+ **First Name:** Vidhi
+ **Last Name:** Desai
+ **Email:** desai255@purdue.edu

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(rc={"figure.dpi":100, 'savefig.dpi':300})
sns.set_context('notebook')
sns.set_style("ticks")
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina', 'svg')
import requests
import os
def download(url, local_filename=None):
    """
    Downloads the file in the ``url`` and saves it in the current working directory.
    """
    data = requests.get(url)
    if local_filename is None:
        local_filename = os.path.basename(url)
    with open(local_filename, 'wb') as fd:
        fd.write(data.content)

/tmp/ipython-input-710/1846507495.py:8: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats('retina', 'svg')

## Problem 1 - Loops and conditionals

Consider the following list:

In [2]:
data = [1, 4, 3, 10, 4, 3, 4, 4]

+ Write a loop that computes the average of the elements in the list and ``print`` the result using two significant digits.

In [3]:
# your code here
total = 0
for value in data:
  total += value

average = total / len(data)

print(f"{average:.2g}")

4.1

+ Write code that finds the number of times the element 4 occurs in the list. Hint: Use a loop and an if-statement.

In [4]:
# your code here
count = 0
for value in data:
  if value == 4:
    count += 1

print(count)

4

+ Write a Python function that takes a list as an argument and returns the number of times a given element (also passed as an argument to the function) appears in the list. Call that function ``find_number_of_occurences(a, elm)``. Make sure you follow best practices when writing the docstring of your function.

In [5]:
# your code here
def find_number_of_occurences(a, elm):
  count = 0
  for value in a:
    if value == elm:
      count += 1
  return count

In [9]:
# Try your code here:
help(find_number_of_occurences)

Help on function find_number_of_occurences in module __main__:

find_number_of_occurences(a, elm)
    # Try your code here:

In [ ]:
# Try your code here:
find_number_of_occurences(data, 4)

+ Write a Python function that takes a list as an argument and returns the number of elements that are greater than a given element (also passed as an argument to the function). Call that function ``find_number_of_elms_greater_than(a, elm)``. Make sure you follow best practices when writing the docstring of your function.

In [ ]:
# your code here

In [ ]:
# Try your code here:
help(find_number_of_elms_greater_than)

In [ ]:
# Try your code here:
find_number_of_elms_greater_than(data, 3)

## Problem 2 - High-performance buildings revisited

In this problem we will continue analyzing the high-performance buildings dataset we introduced in {ref}`lecture03:homework:problem1` and with which we played in {ref}`lecture06:selecting-rows`.
Let me set you up by downloading and cleaning the data file:

In [7]:
!curl -O 'https://raw.githubusercontent.com/PurdueMechanicalEngineering/me-239-intro-to-data-science/master/data/temperature_raw.xlsx'

df = pd.read_excel('temperature_raw.xlsx')
df = df.dropna(axis=0)
df.date = pd.to_datetime(df['date'], format='%Y-%m-%d')
df.head()

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  277k  100  277k    0     0  1878k      0 --:--:-- --:--:-- --:--:-- 1890k

NameError: name 'pd' is not defined

+ Plot the external temperature `t_out`

In [ ]:
# Your code here

+ Extract the data pertaining to household `a5`.
Put the result in a new dataframe called `df_a5`.

In [ ]:
df_a5 = # Your code here
df_a5.head()

+ For household `a5`, plot `t_unit` as a function of date.

In [ ]:
# Your code here

+ In a single figure, plot `date` vs `t_unit` for households `a5` and `a11`.

In [ ]:
# Your code here

+ In the same figure, plot the `t_out` and `t_unit` scatter plots for both households `a5` and `a11`.

In [ ]:
# Your code here

+ In the same figure, plot the `t_out` and `hvac` scatter plots for both households `a5` and `a11`.

In [ ]:
# Your code here

+ In the same figure, plot the histogram of `t_unit` for households `a5` and `a11`.
Which household prefers cooler temperatures?
Hint: To make the histogram more appealing use the keywords ``density=True, alpha=0.25``.

In [ ]:
# Your code here

*Your answer and explanation here*

+ In the same figure, plot the histogram of `hvac` for households `a5` and `a11`.
Which household is more energy efficient (if any) and why?

In [ ]:
# Your code here

*your answer and explanation here*

+ Repeat the analysis above for households `b17` and `c40`. Which household prefers cooler temperatures and which one is more energy efficient?

In [ ]:
# your code here

*Your answer and explanation here. Use as many code and markdown blocks as you want.*

Run the following code to convert the notebook to a pdf. Verify that the file path to the notebook is correct.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
!apt-get install inkscape texlive texlive-xetex texlive-latex-extra pandoc --quiet
!pip install pypandoc --quiet
!jupyter nbconvert --to PDF '/content/drive/MyDrive/Colab Notebooks/Copy of homework_06.ipynb'